.container {
  background-color: #323233;
  border-style: solid;
  border: none
}

.side-container {
  width: 100%;
  color: #E2C08D;
}

.container:hover {
  background-color: #1E1E1E;
}

.col-lg-2 {
  padding: 25px;
  
}

.col-sm {
  width: auto;
  padding: 25px;
}