<div class="sidebar">
  <label class="news-type">Sports:</label>
  <div *ngFor="let sport of sports">
    <div class="genres">
      <input type="checkbox" id="{{ sport.genre }}" [checked]="sport.selected" (click)="selectSport(sport.genre)" class="news-item"/>
      <label class="genre-label">{{ sport.genre }}</label>
    </div>
  </div>
  <label class="news-type">Finance:</label>
  <div *ngFor="let finance of finance">
    <div class="genres">
      <input type="checkbox" [checked]="finance.selected" (click)="selectFinance(finance.genre)" class="news-item"/>
      <label class="genre-label">{{ finance.genre }}</label>
    </div>
  </div>
</div>